<div ng-if="affiliated">
  <a><strong><i class="glyphicon glyphicon-user"></i> Detalles de la Clínica: {{affiliated.name}}</strong></a>
</div>

<hr>

<div ng-if="affiliated">
  <div class="container-fluid">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Datos de la Clínica</h3>
      </div>
      <br>
      <div class="container-fluid">

        <form class="form-horizontal">
          <div class="form-group">
           
            <label class="col-sm-1 control-label">Nombre:</label>
            <div class="col-sm-3">
              <p class="form-control-static">{{affiliated.name}}</p>
            </div>
            <label class="col-sm-1 control-label">RIF:</label>
            <div class="col-sm-2">
              <p class="form-control-static">{{affiliated.rif}}</p>
            </div>
            <label class="col-sm-1 control-label">Estado:</label>
            <div class="col-sm-3">
              <p class="form-control-static">{{affiliated.state.stateName}}</p>
            </div>
            <div class="col-sm-1">
              <button ng-click="editing()" type="button" class="btn btn-info btn-md">Editar</button>
            </div>
            <label class="col-sm-1 control-label">Dirección:</label>
            <div class="col-sm-11">
              <p class="form-control-static">{{affiliated.address}}</p>
            </div>
            <label class="col-sm-1 control-label">Teléfonos:</label>
            <div class="col-sm-5">
              <p class="form-control-static">{{phones(affiliated.phones)}}</p>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>