<div class="modal-header">
    <h3 class="modal-title">Asignación de visita clínica</h3>
</div>
<div class="modal-body">
    
    <div class="container-fluid">
	    <div class="panel panel-primary">
	        <div class="panel-heading"> 
	            <h2>Listado de visitadores</h2>
	        </div>
	        <div class="panel-body">
	            <center>
	                <nav>
	                    <ul class="pagination">
	                        <li>
	                            <a ng-click="previousPage()" href="" aria-label="Previous">
	                                <span aria-hidden="true">&laquo;</span>
	                            </a>
	                        </li>
	                        <li ng-class="{'active': selectedPage == $index}" ng-repeat="i in [].constructor(pages) track by $index"><a ng-click="pageSelected($index)" href="">{{$index + 1}}</a></li>
	                        <li>
	                            <a ng-click="nextPage()" href="" aria-label="Next">
	                                <span aria-hidden="true">&raquo;</span>
	                            </a>
	                        </li>
	                    </ul>
	                </nav>
	            </center>

	            <div class="table-responsive">
	                <table class="table table-hover table-condensed">

	                    <tr>
	                        <th><center>Cédula</center></th>
	                        <th><center>Nombre</center></th>
	                        <th><center>Visitas asignadas</center></th>
	                        <th><center>Acción</center></th>
	                    </tr>

	                    
	                    <tr ng-repeat="visitor in visitors">
	                    	<td><center>{{visitor.person.identityCard}}</center></td>
	                        <td><center>{{visitor.person.firstName}} {{visitor.person.lastName}}</center></td>
	                        <td><center>{{visitor.assignments}}</center></td>
	                        <td><center><button ng-click="assign(visitor)" type="button" class="btn btn-warning btn-xs">Asignar</button></center></td>
	                    </tr>
	                   
	                </table>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>