<center>
    <button ng-disabled="loadable()" class="btn btn-md btn-info" ng-click="loadData()">
        <span class="glyphicon glyphicon-open"></span> Subir imágenes
    </button>
</center>
<br><br>

<div class="col-sm-6">
	<div class="form-group">

    	<button type="button" class="btn btn-primary btn-xs" ng-click="budgetUpload()"><span class="glyphicon glyphicon-plus-sign"></span> <strong>Cargar</strong></button> <label class="text-primary">imagen del presupuesto con cambios</label>

        <ul class="list-group">
            <li ng-repeat="file in budgetFiles track by $index" class="list-group-item">
                {{file.name}}
                <span class="pull-right">
                    <button class="btn btn-xs btn-danger" ng-click="removeBudget($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </li>
        </ul>

  	</div>
</div>

<div class="col-sm-6">
    <div class="form-group">

        <button type="button" class="btn btn-success btn-xs" ng-click="surveyUpload()"><span class="glyphicon glyphicon-plus-sign"></span> <strong>Cargar</strong></button> <label class="text-success">imagen de la encuesta realizada</label>

        <ul class="list-group">
            <li ng-repeat="file in surveyFiles track by $index" class="list-group-item">
                {{file.name}}
                <span class="pull-right">
                    <button class="btn btn-xs btn-danger" ng-click="removeSurvey($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </li>
        </ul>

    </div>
</div>

<input id="upload1" type="file" accept="image/*" onchange="angular.element(this).scope().budgetLoaded(this.files[0])" class="hide">

<input id="upload2" type="file" accept="image/*" onchange="angular.element(this).scope().surveyLoaded(this.files[0])" class="hide">