<div class="modal-header modal-header-primary">
    <h3 class="modal-title">Cambio de Contraseña</h3>
</div>
<div class="modal-body">
    
    <div class="container-fluid">
	    
	    <form name="form" class="form-horizontal">

			<div class="form-group has-feedback" ng-class="feedClass2()">
			  <label class="col-sm-5 control-label">Contraseña Anterior:</label>
			  <div class="input-group col-sm-7">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			    <input type="password" class="form-control" ng-model="oldPassword" placeholder="Introduzca la Contraseña Anterior">
			    <div ng-if="feedClass2() == 'has-error'">
				    <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
	  				<span class="sr-only">(warning)</span>
  				</div>
  				<div ng-if="feedClass2() == 'has-success'">
				    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  				<span class="sr-only">(success)</span>
  				</div>
			  </div>
			</div>

			<div class="form-group has-feedback" ng-class="feedClass3()">
			  <label class="col-sm-5 control-label">Nueva Contraseña:</label>
			  <div class="input-group col-sm-7">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			    <input type="password" class="form-control" ng-model="newPassword" placeholder="Introduzca la Nueva Contraseña">
			    <div ng-if="feedClass3() == 'has-error'">
				    <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
	  				<span class="sr-only">(warning)</span>
  				</div>
  				<div ng-if="feedClass3() == 'has-success'">
				    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  				<span class="sr-only">(success)</span>
  				</div>
			  </div>
			</div>

			<div class="form-group has-feedback" ng-class="feedClass4()">
			  <label class="col-sm-5 control-label">Confirme Nueva Contraseña:</label>
			  <div class="input-group col-sm-7">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			    <input type="password" class="form-control" ng-model="newPassword2" placeholder="Confirme la Nueva Contraseña">
			    <div ng-if="feedClass4() == 'has-error'">
				    <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
	  				<span class="sr-only">(warning)</span>
  				</div>
  				<div ng-if="feedClass4() == 'has-success'">
				    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  				<span class="sr-only">(success)</span>
  				</div>
			  </div>
			</div>

			<div ng-if="passwordMatch()" class="text-danger">
				<center><strong>La Nueva Contraseña no coincide con la Confirmación de la Contraseña.</strong></center>
				<br><br>
			</div>
			

		</form>
		
		<div class="text-danger">
			Reglas para la Contraseña:
			<ul>
			  <li>Debe tener una longitud entre 8 y 15 carácteres.</li>
			</ul>
		</div>

	</div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok2()" ng-disabled="canSubmit2()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>