<div class="table-responsive">
	<table class="table table-hover table-condensed table-striped">

	    <tr>
	     	<td><center><strong>No.</strong></center></td>
	        <th><center>Concepto</center></th>
	        <th><center>Descripción</center></th>
	        <th><center>Cantidad</center></th>
	        <th><center>Costo Bs (unitario)</center></th>
	        <th ng-if="user.userProfile == 'visitador' && canEdit()"><center>Acción</center></th>
	    </tr>

	    <tr ng-repeat="item in currentBudget.item track by $index">
	     	<td><center><strong>{{$index + 1}}</strong></center></td>
	        <td><center>{{item.concept}}</center></td>
	        <td><center>{{item.description}}</center></td>
	        <td><center>{{item.quantity}}</center></td>
	        <td><center>{{item.cost}}</center></td>
	        <td ng-if="user.userProfile == 'visitador' && canEdit()">
	            <center>
	             <button ng-click="edit(item, $index)" type="button" class="btn btn-warning btn-xs">Editar</button>
	            </center>
	        </td>
	    </tr>

	    <tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<th><center>Total: {{currentCost}} </center></th>
			<td ng-if="user.userProfile == 'visitador' && canEdit()"></td>
		</tr>
	                   
	</table>
</div>

<div class="row" ng-if="user.userProfile == 'visitador' && canEdit()">
    <center>
        <button class="btn btn-md btn-info" ng-click="loadBudget()">
            <span class="glyphicon glyphicon-open"></span> Cargar modificaciones
        </button>
        <p class="help-block">Las nuevas modificaciones sustituirán las anteriores</p>
    </center>
</div>