<div class="row">

    <div ng-if="user.userProfile == 'visitador'">
        <center>
            <button class="btn btn-md btn-info" ng-click="finish()">
                <span class="glyphicon glyphicon-open"></span> Finalizar
            </button>
        </center>
    </div>

    <div ng-if="user.userProfile == 'coordinador'">
        <center>
            <button class="btn btn-md btn-info" ng-click="review()">
                <span class="glyphicon glyphicon-open"></span> A revisión
            </button>
            <button class="btn btn-md btn-info" ng-click="authorize()">
                <span class="glyphicon glyphicon-open"></span> Autorizar
            </button>
        </center>
    </div>

</div>