<div class="modal-header">
    <h3 class="modal-title">Cambio en el presupuesto</h3>
</div>
<div class="modal-body">
    
    <div class="container-fluid">
	    <div class="panel panel-primary">
	        <div class="panel-heading"> 
	            <h2>Información de gasto</h2>
	        </div>
	        <br>

	        <div ng-if="historical.length">
	        	<center><a href="" ng-click="toggleHistory()"><i class="glyphicon glyphicon-dashboard"></i> {{historyText}}</a></center>
	        	<br>
	        </div>

	        <div ng-if="history" class="table-responsive container-fluid">
	            <table class="table table-hover table-condensed">

	                <tr>
	                    <th><center>Descripción</center></th>
	                    <th><center>Concepto</center></th>
	                    <th><center>Costo</center></th>
	                    <th><center>Cantidad</center></th>
	                </tr>

	                <tr ng-repeat="item in historical">
	                    <td><center>{{item.concept}}</center></td>
	                    <td><center>{{item.description}}</center></td>
	                    <td><center>{{item.quantity}}</center></td>
	                    <td><center>{{item.cost}}</center></td>
	                </tr>
	              
	            </table>
	        </div>

	        <br>
	        <form name="form" class="form-horizontal" ng-submit="edited(form.$valid)">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Descripción:</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="inputEmail3" ng-model="it.description" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Concepto:</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="inputPassword3" ng-model="it.concept" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Costo:</label>
			    <div class="col-sm-3">
			      <input type="number" min="0" step="0.01" class="form-control" ng-model="it.cost" required>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Cantidad:</label>
			    <div class="col-sm-2">
			      <input type="number" min="0" class="form-control" ng-model="it.quantity" required>
			    </div>
			  </div>
			  <div class="text-right">
			  	<button class="btn btn-primary" type="submit">OK</button>
			  	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
			  </div>
			</form>
	    </div>
	</div>
</div>
<!--<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="edited()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>-->