<div class="modal-header modal-header-primary">
    <h3 class="modal-title">Búsqueda de solicitudes de visita</h3>
</div>
<div class="modal-body">
    
    <div class="container-fluid">
	    
	    <form name="form" class="form-horizontal" ng-submit="edited(form.$valid)">
		    <div class="form-group">
		    	<label class="col-sm-6 control-label">Estatus:</label>
				<div class="col-sm-4">
					<select class="selectpicker form-control" ng-model="selectedFilter" ng-options="filter.statusId as filter.filter for filter in filters"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-6 control-label">Código visita:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" ng-model="requestId">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-6 control-label">Código carta aval:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" ng-model="guaranteeId">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-6 control-label">Fecha solicitud (desde):</label>
				<div class="col-sm-3 input-group">
					<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="popup1.opened" datepicker-options="dateOptions" readonly="true" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy" alt-input-formats="altInputFormats" datepicker-options="dateOptions"/>
		          	<span class="input-group-btn">
		            	<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
		          	</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-6 control-label">Fecha solicitud (hasta):</label>
				<div class="col-sm-3 input-group">
					<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" readonly="true" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy" alt-input-formats="altInputFormats" datepicker-options="dateOptions"/>
		          	<span class="input-group-btn">
		            	<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
		          	</span>
				</div>
			</div>
			<div class="form-group">
				<button ng-click="reset()" type="button" class="btn btn-info btn-xs pull-right">Limpiar campos</button>
			</div>
		</form>

		<!-- 
			<form name="form" class="form-inline" ng-submit="edited(form.$valid)">
		    <div class="form-group">
		    	<div class="input-group">
			    	<span class="input-group-addon">Estatus</span>
			    	<select class="selectpicker form-control" ng-model="selectedFilter" ng-options="filter.statusId as filter.filter for filter in filters" ng-change="selectChanged()"></select>
				</div>
			</div>
		</form>

		-->

	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="filter()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>