
<div ng-if="guaranteeLetter">
  <a><strong><i class="glyphicon glyphicon-dashboard"></i> Detalles de la carta aval de código: {{guaranteeLetter.id}}</strong></a>
</div>

<div ng-if="!guaranteeLetter">
  <a><strong><i class="glyphicon glyphicon-dashboard"></i> No se encontró carta aval asociada al código.</strong></a>
</div>


<hr>

<div ng-if="guaranteeLetter">
  <div class="container-fluid">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Datos de carta aval</h3>
      </div>
      <br>
      <div class="container-fluid">

        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-1 control-label">Estatus:</label>
            <div class="col-sm-1">
              <!--<a class="form-control-static btn btn-md" ng-class="status(guaranteeLetter.status.status)">{{guaranteeLetter.status.status}}</a>-->
              <h5><span class="label" ng-class="statusColor2(guaranteeLetter)">{{statusText2(guaranteeLetter)}}</span></h5>
              <!--<p class="form-control-static img-rounded" ng-class="status(guaranteeLetter.status.status)"><strong>{{guaranteeLetter.status.status}}</strong></a>-->
            </div>
            <label class="col-sm-2 control-label">Código carta aval:</label>
            <div class="col-sm-1">
              <p class="form-control-static">{{guaranteeLetter.id}}</p>
            </div>
            <label class="col-sm-1 control-label">Expide:</label>
            <div class="col-sm-1">
              <p class="form-control-static">{{date(guaranteeLetter.startDate)}}</p>
            </div>
            <label class="col-sm-1 control-label">Vence:</label>
            <div class="col-sm-1">
              <p class="form-control-static">{{date(guaranteeLetter.endDate)}}</p>
            </div>
            <!--<label class="col-sm-2 control-label">Visita asociada #:</label>
            <div class="col-sm-2">
              <div ng-if="guaranteeLetter.request.id">
                <p class="form-control-static">{{guaranteeLetter.request.id}}</p>
              </div>
              <div ng-if="!guaranteeLetter.request.id">
                <p class="form-control-static">No posee</p>
              </div>
            </div>-->
            <div ng-if="canRequest()" class="col-sm-offset-1 col-sm-2">
              <button ng-click="postRequest()" type="button" class="btn btn-danger btn-md">Solicitar visita</button>
            </div>
          </div>
        <!--</form>-->

          <div ng-if="history">
            <div class="panel panel-primary">
              <div class="panel-heading">Historial de visitas</div>
              <div class="panel-body">
                
                <div class="table-responsive">
                  <table class="table table-hover table-condensed">
                    <tr>
                      <th><center>Código de visita</center></th>
                      <th><center>Fecha solicitud</center></th>
                      <th><center>Estatus</center></th>
                      <th><center>Acción</center></th>
                    </tr>
                    <tr ng-repeat="request in history">
                      <td><center>{{request.id}}</center></td>
                      <td><center>{{date(request.startDate)}}</center></td>
                      <td><center><span class="label" ng-class="status2(request.status.status)">{{statusText(request.status.status)}}</span></center></td>
                      <td>
                        <center>
                          <button ng-click="detail(request.id)" type="button" class="btn btn-primary btn-xs">Ver</button>
                        </center>
                      </td>
                    </tr>
                  </table>
                </div>

              </div>
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <!--<h3 class="panel-title">Datos de la institución prestadora de servicio</h3>-->
              Datos de la institución prestadora de servicio
            </div>
            <div class="panel-body">
              <!--<form class="form-horizontal">-->
                <div class="form-group">
                  <label class="col-sm-2 control-label">Nombre:</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{guaranteeLetter.budget.affiliated.name}}</p>
                  </div>
                  <label class="col-sm-2 control-label">Teléfono:</label>
                  <div class="col-sm-4">
                    <p class="form-control-static">{{guaranteeLetter.budget.affiliated.phoneNumber}}</p>
                  </div>
                  <label class="col-sm-2 control-label">RIF:</label>
                  <div class="col-sm-4">
                    <p class="form-control-static">{{guaranteeLetter.budget.affiliated.rif}}</p>
                  </div>
                  <div ng-if="request.guaranteeLetter.budget.affiliated.portal">
                    <label class="col-sm-2 control-label">Portal:</label>
                    <div class="col-sm-10">
                      <p class="form-control-static">{{guaranteeLetter.budget.affiliated.portal}}</p>
                    </div>
                  </div>
                  <label class="col-sm-2 control-label">Dirección:</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{guaranteeLetter.budget.affiliated.address}}</p>
                  </div>
                </div>
              <!--</form>-->
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <!--<h3 class="panel-title">Datos del beneficiario</h3>-->
              Datos del beneficiario
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label">Nombre:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{guaranteeLetter.beneficiary.firstName}} {{guaranteeLetter.beneficiary.lastName}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Cédula:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{guaranteeLetter.beneficiary.identityCard}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Género:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{gender(guaranteeLetter.beneficiary.gender)}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Edad:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{age(guaranteeLetter.beneficiary.birthDate)}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Teléfono:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{guaranteeLetter.beneficiary.phoneNumber}}</p>
                </div>
                <label class="col-sm-2 col-md-1 control-label">Email:</label>
                <div class="col-sm-4 col-md-3">
                  <p class="form-control-static">{{guaranteeLetter.beneficiary.email}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Dirección:</label>
                <div class="col-sm-9 col-md-10">
                  <p class="form-control-static">{{guaranteeLetter.beneficiary.address}}</p>
                </div>
              </div>
            </div>
          </div>
        </form>

        <!--<div ng-if="history">
          <div class="panel panel-primary">
            <div class="panel-heading">Historial de visitas</div>
            <div class="panel-body">
              
              <div class="table-responsive">
                <table class="table table-hover table-condensed">
                  <tr>
                    <th><center>Código de visita</center></th>
                    <th><center>Fecha solicitud</center></th>
                    <th><center>Estatus</center></th>
                    <th><center>Acción</center></th>
                  </tr>
                  <tr ng-repeat="request in history">
                    <td><center>{{request.id}}</center></td>
                    <td><center>{{date(request.startDate)}}</center></td>
                    <td><center><span class="label" ng-class="status2(request.status.status)">{{statusText(request.status.status)}}</span></center></td>
                    <td>
                      <center>
                        <button ng-click="detail(request.id)" type="button" class="btn btn-primary btn-xs">Ver</button>
                      </center>
                    </td>
                  </tr>
                </table>
              </div>

            </div>
          </div>
        </div>-->

      </div>
    </div>

    <!--<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Póliza asociada</h3>
      </div>
      <br>
      <div class="container-fluid">
        <form class="form-horizontal">
          <div class="form-group">
          <label class="col-sm-2 control-label">Código carta aval:</label>
            <div class="col-sm-1">
              <p class="form-control-static">{{guaranteeLetter.policy.id}}</p>
            </div>
            <label class="col-sm-2 control-label">Cobertura desde:</label>
            <div class="col-sm-2">
              <p class="form-control-static">{{date(guaranteeLetter.policy.startDate)}}</p>
            </div>
            <label class="col-sm-1 control-label">hasta:</label>
            <div class="col-sm-1">
              <p class="form-control-static">{{date(guaranteeLetter.policy.endDate)}}</p>
            </div>
            <label class="col-sm-1 control-label">Prima</label>
            <div class="col-sm-2">
              <p class="form-control-static">Bs. {{guaranteeLetter.policy.cost}}</p>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              
              Datos del tomador
            </div>
            
            <div class="panel-body">
              <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label">Nombre:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{guaranteeLetter.policy.holder.firstName}} {{guaranteeLetter.policy.holder.lastName}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Cédula:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{guaranteeLetter.policy.holder.identityCard}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Género:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{gender(guaranteeLetter.policy.holder.gender)}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Edad:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{age(guaranteeLetter.policy.holder.birthDate)}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Teléfono:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{guaranteeLetter.policy.holder.phoneNumber}}</p>
                </div>
                <label class="col-sm-2 col-md-1 control-label">Email:</label>
                <div class="col-sm-4 col-md-3">
                  <p class="form-control-static">{{guaranteeLetter.policy.holder.email}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Dirección:</label>
                <div class="col-sm-9 col-md-10">
                  <p class="form-control-static">{{guaranteeLetter.policy.holder.address}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
            
              Datos del asegurado
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label">Nombre:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{guaranteeLetter.policy.owner.firstName}} {{guaranteeLetter.policy.holder.lastName}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Cédula:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{guaranteeLetter.policy.owner.identityCard}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Género:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{gender(guaranteeLetter.policy.owner.gender)}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Edad:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{age(guaranteeLetter.policy.owner.birthDate)}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Teléfono:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{guaranteeLetter.policy.owner.phoneNumber}}</p>
                </div>
                <label class="col-sm-2 col-md-1 control-label">Email:</label>
                <div class="col-sm-4 col-md-3">
                  <p class="form-control-static">{{guaranteeLetter.policy.owner.email}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Dirección:</label>
                <div class="col-sm-9 col-md-10">
                  <p class="form-control-static">{{guaranteeLetter.policy.holder.address}}</p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>-->
  </div>
</div>