		<!--<a><strong><i class="glyphicon glyphicon-dashboard"></i> Solicitudes</strong></a>-->
		<!--<a><strong><i class="glyphicon glyphicon-search"></i> Resultados encontrados: {{guarantees.length}}</strong></a>-->

		<a href="" ng-click="filter()"><strong><i class="glyphicon glyphicon-search"></i> Búsqueda de carta aval</strong></a>

		<hr>
		<div class="panel panel-primary">
	        <div class="panel-heading">
	            <h2>Cartas avales</h2>
	        </div>

	        <div class="panel-body">
	            <center>
	                <nav>
	                    <ul class="pagination">
	                        <li>
	                            <a ng-click="previousPage()" href="" aria-label="Previous">
	                                <span aria-hidden="true">&laquo;</span>
	                            </a>
	                        </li>
	                        <li ng-class="{'active': selectedPage == $index}" ng-repeat="i in [].constructor(pages) track by $index"><a ng-click="pageSelected($index)" href="">{{$index + 1}}</a></li>
	                        <li>
	                            <a ng-click="nextPage()" href="" aria-label="Next">
	                                <span aria-hidden="true">&raquo;</span>
	                            </a>
	                        </li>
	                    </ul>
	                </nav>
	            </center>

				<br>

	            <div>
	                <table class="table table-hover table-condensed">

	                    <tr>
	                    	<th><center>Código carta aval</center></th>
	                        <th><center>Estatus</center></th>
	                        <th><center>Expide</center></th>
	                        <th><center>Vence</center></th>
	                        <th><center>CI beneficiario</center></th>
	                        <th><center>Nombre beneficiario</center></th>
	                        <th><center>Acciones</center></th>
	                    </tr>

	                    
	                    <tr ng-repeat="guarantee in guarantees">
	                    	<td><center>{{guarantee.id}}</center></td>
	                        <td><center><span class="label" ng-class="statusColor(guarantee)">{{statusText(guarantee)}}</span></center></td>
	                        <td><center>{{date(guarantee.startDate)}}</center></td>
	                        <td><center>{{date(guarantee.endDate)}}</center></td>
	                        <td><center>{{guarantee.beneficiary.identityCard}}</center></td>
	                        <td>
	                        	<center>
	                        		{{guarantee.beneficiary.firstName}} {{guarantee.beneficiary.lastName}}
	                        	</center>
	                        </td>
	                        <td>
	                        	<!--<center>
	                        		<button ng-click="detail(guarantee.id)" type="button" class="btn btn-primary btn-xs">Ver</button>
	                        		<button ng-click="detail(guarantee.id)" type="button" class="btn btn-danger btn-xs">Solicitar Visita</button>
	                        	</center>-->
	                        	<center>
		                        	<div class="dropdown">
										<button class="btn btn-primary dropdown-toggle btn-xs" type="button" data-toggle="dropdown">Acción
									  	<span class="caret"></span></button>
									  	<ul class="dropdown-menu dropdown-menu-right">
									    	<li><a href="" ng-click="detail(guarantee.id)"><i class="glyphicon glyphicon-eye-open"></i> Ver</a></li>
									    	<li ng-if="canRequest(guarantee)"><a href="" ng-click="postRequest(guarantee.id)"><i class="glyphicon glyphicon-dashboard"></i> Solicitar Visita</a></li>
									  </ul>
									</div> 
								</center>
	                        </td>
	                    </tr>
	              
	                </table>
	                <!--<br><br><br>-->
	            </div>
	        </div>
	    </div>
