<a><strong><i class="glyphicon glyphicon-dashboard"></i> {{title()}} </strong></a>
<hr>


<div ng-if="response">

  <!-- Nav tabs -->
  <ul ng-if="user.userProfile == 'analista'" class="nav nav-tabs">
    <li ui-sref-active="active"><a ui-sref=".requestdetail"><i class="glyphicon glyphicon-info-sign"></i> Información</a></li>
    <li ng-if="response.status.id == 6" ui-sref-active="active"><a ui-sref=".budget"><i class="glyphicon glyphicon-list-alt"></i> Presupuesto</a></li>
    <li ng-if="response.status.id == 6" ui-sref-active="active"><a ui-sref=".survey"><i class="glyphicon glyphicon-file"></i> Encuesta</a></li>
    <li ng-if="response.status.id == 6" ui-sref-active="active"><a ui-sref=".attached"><i class="glyphicon glyphicon-paperclip"></i> Adjuntos</a></li>
  </ul>
  <ul ng-if="user.userProfile == 'coordinador'" class="nav nav-tabs">
    <li ui-sref-active="active"><a ui-sref=".requestdetail"><i class="glyphicon glyphicon-info-sign"></i> Información</a></li>
    <li ng-if="response.status.id == 4 || response.status.id == 5 || response.status.id == 6" ui-sref-active="active"><a ui-sref=".budget"><i class="glyphicon glyphicon-list-alt"></i> Presupuesto</a></li>
    <li ng-if="response.status.id == 4 || response.status.id == 5 || response.status.id == 6" ui-sref-active="active"><a ui-sref=".survey"><i class="glyphicon glyphicon-file"></i> Encuesta</a></li>
    <li ng-if="response.status.id == 4 || response.status.id == 5 || response.status.id == 6" ui-sref-active="active"><a ui-sref=".attached"><i class="glyphicon glyphicon-paperclip"></i> Adjuntos</a></li>
    <!--<li ng-if="response.status.id == 4 || response.status.id == 5" ui-sref-active="active"><a ui-sref=".decision"><i class="glyphicon glyphicon-ok-sign"></i> Autorización</a></li>-->
  </ul>
    <ul ng-if="user.userProfile == 'visitador'" class="nav nav-tabs">
    <li ui-sref-active="active"><a ui-sref=".requestdetail"><i class="glyphicon glyphicon-info-sign"></i> Información</a></li>
    <li ui-sref-active="active"><a ui-sref=".budget.originalbudget"><i class="glyphicon glyphicon-list-alt"></i> Presupuesto</a></li>
    <li ui-sref-active="active"><a ui-sref=".survey"><i class="glyphicon glyphicon-file"></i> Encuesta</a></li>
    <li ui-sref-active="active"><a ui-sref=".attached"><i class="glyphicon glyphicon-paperclip"></i> Adjuntos</a></li>
    <!--<li ng-if="response.status.id == 3 || response.status.id == 4 || response.status.id == 5" ui-sref-active="active"><a ui-sref=".decision"><i class="glyphicon glyphicon-ok-sign"></i> Finalización</a></li>-->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  	<br>
    <div ui-view></div>
  </div>

</div>