<center>
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">Cédula</label>
      <input type="text" class="form-control" placeholder="Cédula" ng-model="login.identityCard" required>
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputPassword3">Contraseña</label>
      <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required>
    </div>
    <button class="btn btn-default" ng-click="submit()">Iniciar sesión</button>
  </form>
</center>