<div class="modal-header modal-header-primary">
    <h3 class="modal-title">Recuperar Contraseña:</h3>
</div>
<div class="modal-body">
    
    <div class="container-fluid">
	    
	    <form name="form" class="form-horizontal">

			<div class="form-group has-feedback" ng-class="feedClass()">
			  <label class="col-sm-6 control-label">Introduzca Nombre de Usuario:</label>
			  <div class="input-group col-sm-6">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			    <input type="text" class="form-control" ng-model="userName" ng-change="verifyUserName()" placeholder="Nombre de Usuario">
  				<div ng-if="feedClass() == 'has-success'">
				    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
	  				<span class="sr-only">(success)</span>
  				</div>
			  </div>
			  <center ng-if="feedClass() == 'has-error'"><p class="help-block">El Nombre de Usuario no existe. Por favor, verifique e intente de nuevo.</p></center>
			  <center ng-if="feedClass() == 'has-success'"><p class="help-block">Se enviará a su correo electrónico la nueva contraseña.</p></center>
			</div>

		</form>

	</div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="canSubmit()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>