<div ng-if="request">
  <a><strong><i class="glyphicon glyphicon-dashboard"></i> Detalles de la solicitud: # {{request.id}}</strong></a>
</div>

<div ng-if="!request">
  <a><strong><i class="glyphicon glyphicon-dashboard"></i> No se encontró visita asociada al código.</strong></a>
</div>

<hr>

<div ng-if="request">

    <div class="panel-body">

      <div ng-if="user.userProfile == 'coordinador'">
        <div ng-if="request.statusId == 2">
          <div class="alert alert-danger" role="alert">
            <center>Solicitud de visita no asignada. <a ng-click="assign()" href="" class="alert-link"><strong>Asignar</strong></a></center>
          </div>     
        </div>
        <div ng-if="request.statusId == 3">
          <div class="alert alert-info" role="alert">
            <center>Solicitud de visita asignada.</center>
          </div>      
        </div> 
      </div>

      <div ng-if="user.userProfile == 'analista'">
        <div ng-if="request.statusId == 2">
          <div class="alert alert-danger" role="alert">
            <center>Solicitud de visita no asignada.</center>
          </div>     
        </div>
        <div ng-if="request.statusId == 3">
          <div class="alert alert-info" role="alert">
            <center>Solicitud de visita asignada.</center>
          </div>    
        </div> 
      </div>

      <div ng-if="user.userProfile == 'visitador'">
        <div ng-if="request.statusId == 3">
          <div class="alert alert-danger" role="alert">
            <center>
              Solicitud de visita pendiente.<br>
              </center>
          </div>
          <center>
            <ul class="list-inline">
              <li><button ng-click="download()" type="button" class="btn btn-info btn-xs">Ver presupuesto</button></li>
              <li><button ng-click="download()" type="button" class="btn btn-info btn-xs">Ver carta aval</button></li>
              <li><button ng-click="load()" type="button" class="btn btn-info btn-xs">Cargar información</button></li>
            </ul>
            </center>
        </div> 
      </div>     
      
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Datos de la institución prestadora de servicio:</h3>
          </div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{request.guaranteeLetter.budget.affiliated.name}}</p>
                </div>
                <label class="col-sm-2 control-label">Dirección:</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{request.guaranteeLetter.budget.affiliated.address}}</p>
                </div>
                <label class="col-sm-2 control-label">Teléfono:</label>
                <div class="col-sm-4">
                  <p class="form-control-static">{{request.guaranteeLetter.budget.affiliated.phoneNumber}}</p>
                </div>
                <label class="col-sm-2 control-label">RIF:</label>
                <div class="col-sm-4">
                  <p class="form-control-static">{{request.guaranteeLetter.budget.affiliated.rif}}</p>
                </div>
                <div ng-if="request.guaranteeLetter.budget.affiliated.portal">
                  <label class="col-sm-2 control-label">Portal:</label>
                  <div class="col-sm-4">
                    <p class="form-control-static">{{request.guaranteeLetter.budget.affiliated.portal}}</p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      
      <div ng-if="user.userProfile == 'visitador'">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Datos del tomador:</h3>
          </div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-1 control-label">Nombre:</label>
                <div class="col-sm-3">
                  <p class="form-control-static">{{request.guaranteeLetter.policy.holder.firstName}} {{request.guaranteeLetter.policy.holder.lastName}}</p>
                </div>
                <label class="col-sm-1 control-label">Cédula:</label>
                <div class="col-sm-2">
                  <p class="form-control-static">{{request.guaranteeLetter.policy.holder.identityCard}}</p>
                </div>
                <label class="col-sm-1 control-label">Género:</label>
                <div class="col-sm-2">
                  <p class="form-control-static">{{gender(request.guaranteeLetter.policy.holder.gender)}}</p>
                </div>
                <label class="col-sm-1 control-label">Edad:</label>
                <div class="col-sm-1">
                  <p class="form-control-static">{{age(request.guaranteeLetter.policy.holder.birthDate)}}</p>
                </div>
                <label class="col-sm-1 control-label">Teléfono:</label>
                <div class="col-sm-2">
                  <p class="form-control-static">{{request.guaranteeLetter.policy.holder.phoneNumber}}</p>
                </div>
                <label class="col-sm-3 control-label">Correo electrónico:</label>
                <div class="col-sm-6">
                  <p class="form-control-static">{{request.guaranteeLetter.policy.holder.email}}</p>
                </div>
                <label class="col-sm-1 control-label">Dirección:</label>
                <div class="col-sm-11">
                  <p class="form-control-static">{{request.guaranteeLetter.policy.holder.address}}</p>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Datos del asegurado:</h3>
          </div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-1 control-label">Nombre:</label>
                <div class="col-sm-3">
                  <p class="form-control-static">{{request.guaranteeLetter.policy.owner.firstName}} {{request.guaranteeLetter.policy.holder.lastName}}</p>
                </div>
                <label class="col-sm-1 control-label">Cédula:</label>
                <div class="col-sm-2">
                  <p class="form-control-static">{{request.guaranteeLetter.policy.owner.identityCard}}</p>
                </div>
                <label class="col-sm-1 control-label">Género:</label>
                <div class="col-sm-2">
                  <p class="form-control-static">{{gender(request.guaranteeLetter.policy.owner.gender)}}</p>
                </div>
                <label class="col-sm-1 control-label">Edad:</label>
                <div class="col-sm-1">
                  <p class="form-control-static">{{age(request.guaranteeLetter.policy.owner.birthDate)}}</p>
                </div>
                <label class="col-sm-1 control-label">Teléfono:</label>
                <div class="col-sm-2">
                  <p class="form-control-static">{{request.guaranteeLetter.policy.owner.phoneNumber}}</p>
                </div>
                <label class="col-sm-3 control-label">Correo electrónico:</label>
                <div class="col-sm-6">
                  <p class="form-control-static">{{request.guaranteeLetter.policy.owner.email}}</p>
                </div>
                <label class="col-sm-1 control-label">Dirección:</label>
                <div class="col-sm-11">
                  <p class="form-control-static">{{request.guaranteeLetter.policy.holder.address}}</p>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Datos del beneficiario:</h3>
          </div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-1 control-label">Nombre:</label>
                <div class="col-sm-3">
                  <p class="form-control-static">{{request.guaranteeLetter.beneficiary.firstName}} {{guaranteeLetter.beneficiary.lastName}}</p>
                </div>
                <label class="col-sm-1 control-label">Cédula:</label>
                <div class="col-sm-2">
                  <p class="form-control-static">{{request.guaranteeLetter.beneficiary.identityCard}}</p>
                </div>
                <label class="col-sm-1 control-label">Género:</label>
                <div class="col-sm-2">
                  <p class="form-control-static">{{gender(request.guaranteeLetter.beneficiary.gender)}}</p>
                </div>
                <label class="col-sm-1 control-label">Edad:</label>
                <div class="col-sm-1">
                  <p class="form-control-static">{{age(request.guaranteeLetter.beneficiary.birthDate)}}</p>
                </div>
                <label class="col-sm-1 control-label">Teléfono:</label>
                <div class="col-sm-2">
                  <p class="form-control-static">{{request.guaranteeLetter.beneficiary.phoneNumber}}</p>
                </div>
                <label class="col-sm-3 control-label">Correo electrónico:</label>
                <div class="col-sm-6">
                  <p class="form-control-static">{{request.guaranteeLetter.beneficiary.email}}</p>
                </div>
                <label class="col-sm-1 control-label">Dirección:</label>
                <div class="col-sm-11">
                  <p class="form-control-static">{{request.guaranteeLetter.beneficiary.address}}</p>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>
</div>