
<div ng-if="request">

    <div class="panel-body">

    <div class="alert" ng-class="infoClass()" role="alert">
      <center>
        {{info()}}
        <a ng-if="user.userProfile == 'visitador' && showButton()" ng-click="finish()" href="" class="alert-link"><strong>Finalizar</strong></a>
        <a ng-if="user.userProfile == 'coordinador' && canAssign()" ng-click="assign()" href="" class="alert-link"><strong>Asignar</strong></a>
        <a ng-if="user.userProfile == 'coordinador' && canReview()" ng-click="review()" href="" class="alert-link"><strong>Revisar</strong></a>
        <a ng-if="user.userProfile == 'coordinador' && canReview()">|</a>
        <a ng-if="user.userProfile == 'coordinador' && canReview()" ng-click="authorize()" href="" class="alert-link"><strong>Autorizar</strong></a>
      </center>
    </div>

    <center>
      <ul class="list-inline">
        <li><button ng-click="downloadBudget()" type="button" class="btn btn-info btn-xs">Descargar Presupuesto</button></li>
        <li><button ng-click="downloadGuarantee()" type="button" class="btn btn-info btn-xs">Descargar Carta Aval</button></li>
        <li ng-if="user.userProfile == 'visitador'"><button ng-click="downloadSurvey()" type="button" class="btn btn-info btn-xs">Descargar Encuesta</button></li>
      </ul>
    </center>    
        
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Datos de la Institución Prestadora de Servicio</h3>
          </div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{request.guaranteeLetter.budget.affiliated.name}}</p>
                </div>
                <label class="col-sm-2 control-label">Estado:</label>
                <div class="col-sm-3">
                  <p class="form-control-static">{{request.guaranteeLetter.budget.affiliated.state.stateName}}</p>
                </div>
                <label class="col-sm-2 control-label">Teléfono:</label>
                <div class="col-sm-2">
                  <p class="form-control-static">{{request.guaranteeLetter.budget.affiliated.phoneNumber}}</p>
                </div>
                <label class="col-sm-1 control-label">RIF:</label>
                <div class="col-sm-2">
                  <p class="form-control-static">{{request.guaranteeLetter.budget.affiliated.rif}}</p>
                </div>
                <div ng-if="request.guaranteeLetter.budget.affiliated.portal">
                  <label class="col-sm-2 control-label">Portal:</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{request.guaranteeLetter.budget.affiliated.portal}}</p>
                  </div>
                </div>
                <label class="col-sm-2 control-label">Dirección:</label>
                <div class="col-sm-10">
                  <p class="form-control-static">{{request.guaranteeLetter.budget.affiliated.address}}</p>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Datos del beneficiario</h3>
          </div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label">Nombre:</label>
                <div class="col-sm-3 col-md-3">
                  <p class="form-control-static">{{request.guaranteeLetter.beneficiary.firstName}} {{request.guaranteeLetter.beneficiary.lastName}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Cédula:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{request.guaranteeLetter.beneficiary.identityCard}}</p>
                </div>
                <label class="col-sm-3 col-md-1 control-label">Género:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{gender(request.guaranteeLetter.beneficiary.gender)}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Edad:</label>
                <div class="col-sm-3 col-md-1">
                  <p class="form-control-static">{{age(request.guaranteeLetter.beneficiary.birthDate)}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Teléfono:</label>
                <div class="col-sm-3 col-md-2">
                  <p class="form-control-static">{{request.guaranteeLetter.beneficiary.phoneNumber}}</p>
                </div>
                <label class="col-sm-2 col-md-1 control-label">Email:</label>
                <div class="col-sm-4 col-md-4">
                  <p class="form-control-static">{{request.guaranteeLetter.beneficiary.email}}</p>
                </div>
                <label class="col-sm-3 col-md-2 control-label">Dirección:</label>
                <div class="col-sm-9 col-md-10">
                  <p class="form-control-static">{{request.guaranteeLetter.beneficiary.address}}</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Historial de observaciones:</div>
            <div id="box" class="panel-body" style="overflow-y:scroll; overflow-x:hidden; height:300px;">
                <div ng-repeat="comment in comments">
                    <div class="row">
                        <div class="col-sm-8">
                            <h6><strong>{{comment.commenter.person.firstName}} {{comment.commenter.person.lastName}} ({{comment.commenter.person.profile.profile}}):</strong></h6>
                            <p class="text-justify">{{comment.comment}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h6 class="text-right"><span class="label label-primary">{{date(comment.date)}}</span></h6>
                            <h6 class="text-right"><span class="label label-danger">{{hour(comment.date)}}</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

      <!--</div>-->

    </div>
</div>