<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Encuesta</h2> 
  </div>
  <div class="panel-body">

  <center>
    <nav>
      <ul class="pagination">
          <li>
              <a ng-click="previousPage()" href="" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
              </a>
          </li>
          <li ng-class="{'active': selectedPage == $index}" ng-repeat="i in [].constructor(pages) track by $index"><a ng-click="pageSelected($index)" href="">{{$index + 1}}</a></li>
          <li>
              <a ng-click="nextPage()" href="" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
              </a>
          </li>
      </ul>
    </nav>
  </center>

  <center ng-if="formSubmitDate">
    <a>
      <strong class="text-danger">
        <i class="glyphicon glyphicon-dashboard"></i> Fecha y Hora de Carga: {{date(formSubmitDate)}} {{hour(formSubmitDate)}}
      </strong>
    </a>
  </center>

  <br>

    <form class="form-horizontal">

      <div class="table-responsive">
        <table class="table table-hover table-condensed table-striped">

          <tr>
            <th><center>No.<strong></strong></center></th>
            <th><center>Aspecto a Calificar</center></th>
            <th><center>Calificación</center></th>
          </tr>

          <tr ng-repeat="question in form.question track by $index">
            <td><center><strong>{{$index + 1}}</strong></center></td>
            <td><center>{{question.question}}</center></td>
            <td>
              <center>
                <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="5" ng-required="!$parent.values[$index]" ng-disabled="disabled() || selectedPage + 1 != pages">Excelente</label>
                <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="4" ng-required="!$parent.values[$index]" ng-disabled="disabled() || selectedPage + 1 != pages">Bueno</label>
                <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="3" ng-required="!$parent.values[$index]" ng-disabled="disabled() || selectedPage + 1 != pages">Regular</label>
                <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="2" ng-required="!$parent.values[$index]" ng-disabled="disabled() || selectedPage + 1 != pages">Malo</label>
                <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="1" ng-required="!$parent.values[$index]" ng-disabled="disabled() || selectedPage + 1 != pages">Muy malo</label>
                <!--<label class="radio-inline"><input type="radio">Excelente</label>
                <label class="radio-inline"><input type="radio">Bueno</label>
                <label class="radio-inline"><input type="radio">Regular</label>
                <label class="radio-inline"><input type="radio">Malo</label>
                <label class="radio-inline"><input type="radio">Muy malo</label>-->
              </center>
            </td>
          </tr>
                     
        </table>
      </div>


      <center ng-if="!disabled() && selectedPage + 1 == pages">
        <button class="btn btn-md btn-info" ng-click="loadData()">
          <span class="glyphicon glyphicon-open"></span> Cargar
        </button>
        <p class="help-block">Las nuevas cargas sustituirán las anteriores</p>
      </center>
    </form>

  </div>
</div>