<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Encuesta</h2> 
  </div>
  <div class="panel-body">

    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-12">¿Cómo evalúa el trato médico?</label>
        <div class="col-sm-12">
          <label class="radio-inline"><input type="radio" name="optradio">Excelente</label>
          <label class="radio-inline"><input type="radio" name="optradio">Bueno</label>
          <label class="radio-inline"><input type="radio" name="optradio">Regular</label>
          <label class="radio-inline"><input type="radio" name="optradio">Malo</label>
          <label class="radio-inline"><input type="radio" name="optradio">Muy malo</label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12">¿Cómo evalúa el trato médico?</label>
        <div class="col-sm-12">
          <label class="radio-inline"><input type="radio" name="optradio">Excelente</label>
          <label class="radio-inline"><input type="radio" name="optradio">Bueno</label>
          <label class="radio-inline"><input type="radio" name="optradio">Regular</label>
          <label class="radio-inline"><input type="radio" name="optradio">Malo</label>
          <label class="radio-inline"><input type="radio" name="optradio">Muy malo</label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12">¿Cómo evalúa el trato médico?</label>
        <div class="col-sm-12">
          <label class="radio-inline"><input type="radio" name="optradio">Excelente</label>
          <label class="radio-inline"><input type="radio" name="optradio">Bueno</label>
          <label class="radio-inline"><input type="radio" name="optradio">Regular</label>
          <label class="radio-inline"><input type="radio" name="optradio">Malo</label>
          <label class="radio-inline"><input type="radio" name="optradio">Muy malo</label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12">¿Cómo evalúa el trato médico?</label>
        <div class="col-sm-12">
          <label class="radio-inline"><input type="radio" name="optradio">Excelente</label>
          <label class="radio-inline"><input type="radio" name="optradio">Bueno</label>
          <label class="radio-inline"><input type="radio" name="optradio">Regular</label>
          <label class="radio-inline"><input type="radio" name="optradio">Malo</label>
          <label class="radio-inline"><input type="radio" name="optradio">Muy malo</label>
        </div>
      </div>
    </form>

  </div>
</div>