<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Encuesta</h2> 
  </div>
  <div class="panel-body">

    <form class="form-horizontal">
      <!--<div class="form-group">
        <label class="col-sm-12">¿Cómo evalúa el trato médico?</label>
        <div class="col-sm-12">
          <label class="radio-inline"><input type="radio" ng-model="e" ng-value="0" ng-disabled="disabled()">Excelente</label>
          <label class="radio-inline"><input type="radio" ng-model="e" ng-value="1" ng-disabled="disabled()">Bueno</label>
          <label class="radio-inline"><input type="radio" ng-model="e" ng-value="2" ng-disabled="disabled()">Regular</label>
          <label class="radio-inline"><input type="radio" ng-model="e" ng-value="3" ng-disabled="disabled()">Malo</label>
          <label class="radio-inline"><input type="radio" ng-model="e" ng-value="4" ng-disabled="disabled()">Muy malo</label>
        </div>
      </div>-->
      <!--<div class="form-group" ng-repeat="question in form.question track by $index">        
        <label class="col-sm-12">{{question.question}}</label>
        <div class="col-sm-12">
          <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="5" ng-required="!$parent.values[$index]" ng-disabled="disabled()">Excelente</label>
          <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="4" ng-required="!$parent.values[$index]" ng-disabled="disabled()">Bueno</label>
          <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="3" ng-required="!$parent.values[$index]" ng-disabled="disabled()">Regular</label>
          <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="2" ng-required="!$parent.values[$index]" ng-disabled="disabled()">Malo</label>
          <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="1" ng-required="!$parent.values[$index]" ng-disabled="disabled()">Muy malo</label>
        </div>
      </div>-->

      <div class="table-responsive">
        <table class="table table-hover table-condensed table-striped">

          <tr>
            <th><center>No.<strong></strong></center></th>
            <th><center>Aspecto a Calificar</center></th>
            <th><center>Calificación</center></th>
          </tr>

          <tr ng-repeat="question in form.question track by $index">
            <td><center><strong>{{$index + 1}}</strong></center></td>
            <td><center>{{question.question}}</center></td>
            <td>
              <center>
                <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="5" ng-required="!$parent.values[$index]" ng-disabled="disabled()">Excelente</label>
                <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="4" ng-required="!$parent.values[$index]" ng-disabled="disabled()">Bueno</label>
                <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="3" ng-required="!$parent.values[$index]" ng-disabled="disabled()">Regular</label>
                <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="2" ng-required="!$parent.values[$index]" ng-disabled="disabled()">Malo</label>
                <label class="radio-inline"><input type="radio" ng-model="$parent.values[$index]" ng-value="1" ng-required="!$parent.values[$index]" ng-disabled="disabled()">Muy malo</label>
                <!--<label class="radio-inline"><input type="radio">Excelente</label>
                <label class="radio-inline"><input type="radio">Bueno</label>
                <label class="radio-inline"><input type="radio">Regular</label>
                <label class="radio-inline"><input type="radio">Malo</label>
                <label class="radio-inline"><input type="radio">Muy malo</label>-->
              </center>
            </td>
          </tr>
                     
        </table>
      </div>


      <center ng-if="!disabled()">
        <button class="btn btn-md btn-info" ng-click="loadData()">
          <span class="glyphicon glyphicon-open"></span> Cargar encuesta
        </button>
        <p class="help-block">Las nuevas cargas sustituirán las anteriores</p>
      </center>
    </form>

  </div>
</div>