<a><strong><i class="glyphicon glyphicon-cog"></i> Configuración de Cuenta:</strong></a>

<hr>

<form class="form-horizontal">
    <div class="form-group">
    	<label class="col-sm-2 control-label">Usuario:</label>
        <div class="col-sm-1">
           	<p class="form-control-static">{{user.userName.toUpperCase()}}</p>
        </div>
        <label class="col-sm-2 control-label">Rol Usuario:</label>
    	<div class="col-sm-1">
           	<p class="form-control-static">{{user.userProfile.toUpperCase()}}</p>
        </div>
    	<label class="col-sm-1 control-label">Email:</label>
    	<div class="col-sm-3">
           	<p class="form-control-static">{{user.email}}</p>
        </div>
        <div class="col-sm-2">
           	<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle btn-xs" type="button" data-toggle="dropdown">Acciones <span class="caret"></span></button>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a href="" ng-click="changeUserName()"><i class="glyphicon glyphicon-user"></i> Cambiar Nombre de Usuario</a></li>
					<li><a href="" ng-click="changePassword()"><i class="glyphicon glyphicon-lock"></i> Cambiar Contraseña</a></li>
				</ul>
			</div> 
        </div>
    </div>
</form>